* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;
}

/* Begin - Common */
:root {
    --primary-color: #143c3c;
    --second-color: #e2eddf;
    --white-color: #fff;

    --text-color-1: #152427;
    --text-color-2: #143c3c;
    --text-color-3: #575d5e;
    --text-color-4: #7d8188;
    --text-color-5: #6a8383;
    --text-color-6: #e7f9f9;
    --text-white-color: #fff;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    border-radius: 999px;
    outline: none;
    font-family: "Public Sans";
    text-align: center;
    user-select: none;
    transition: all linear 0.15s;

    min-width: 173px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.heading-lv1 {
    color: var(--text-color-1);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.heading-lv2 {
    color: var(--text-color-1);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.heading-lv3 {
    color: var(--text-color-1);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.ba-cham {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 2);
    overflow: hidden;
}

.line-clamp-1 {
    --line-clamp: 1;
}

.line-clamp-3 {
    --line-clamp: 3;
}

/* Section Title  */
.section-title {
    max-width: 48.7%;
    color: var(--text-color-1);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    position: relative;
    padding-left: 46px;
    text-transform: uppercase;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Section Heading */

.section-heading__hr::after {
    --font-size: 4.2rem;

    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color);
    margin-left: 12px;
    margin-bottom: calc(var(--font-size) / 2 / 2 - 1px);
}

/* Control arrow */
.control {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.control-arrow__wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #e2eddf;
    border: 1px solid #e2eddf;
    outline: none;
    color: var(--primary-color);
    transition: all linear 0.15s;
    cursor: pointer;
}

.control-arrow__wrap:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
}

.control-arrow__wrap:nth-of-type(2) .control-arrow__icon {
    rotate: 180deg;
}
/* End - Common */

/* Header */
.header {
    background-color: var(--white-color);
    padding: 16px 0 0;
    position: sticky;
    top: -16px;
    z-index: 2;
}

.header-wrap {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 0;
}

.header-wrap::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    width: 146px;
    height: 26px;
}

.nav {
    display: flex;
    align-items: center;
    margin: 0 82px 0 auto;
}

.nav-item {
}

.nav-item + .nav-item {
    margin-left: 22px;
}

.nav-link {
    color: var(--text-color-3);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding: 4px 6px;
    user-select: none;
}

.nav-link__activate {
    color: var(--text-color-1);
    position: relative;
}

.nav-link__activate::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--text-color-1);
    position: absolute;
    left: 6px;
    bottom: -25px;
}

.nav-link:hover {
    color: var(--text-color-1);
}

.head-action-btn {
}

/* Hero */
.hero {
}

.hero-wrap {
    margin: 60px auto 87px;
    display: flex;
    align-items: center;
}

/* Hero content */
.hero-content {
    max-width: 34.5%;
    height: 466px;
}

.hero-content__heading {
    max-width: 368px;
}

.hero-content__desc {
    margin-top: 20px;
    color: var(--text-color-3);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero-content__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__action {
}

.hero-view-video {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-view-video__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    transition: all linear 0.15s;
}

.hero-view-video:hover .hero-view-video__btn {
    background-color: var(--primary-color);
}

.hero-view-video__icon-2 {
    position: absolute;
    left: -8px;
    color: var(--primary-color);
}

.hero-view-video__icon {
}

.hero-view-video__label {
    margin-left: 15px;
    color: var(--text-color-1);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
/* Hero Media */
.hero-media {
    max-width: 56.67%;

    position: relative;
    margin: 0 25px 0 auto;
}

/* Hero media Bg */
.hero-media__bg {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero-media__flying-star {
    position: absolute;
    top: -32px;
    left: -212px;
    z-index: 1;
}

.hero-media__flying-star:nth-of-type(2) {
    rotate: 180deg;
    top: 238px;
    left: 50px;
}

.hero-media__images {
    display: flex;
    column-gap: 20px;
}

.hero-media__image {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero-media__image:nth-child(2) {
    margin-top: 77px;
}

.test {
    width: 100%;
    height: 500px;
    background-color: orange;
}

/* Ads Brand */
.ads-brand {
    padding: 42px 0;
}

.ads-brand-wrap {
    padding: 78px 121px 72px;
    background-color: #e2eddf;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all linear 0.15s;
}

.ads-brand-wrap:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ads-brand__image {
    height: 33px;
    transition: all linear 0.15s;
    user-select: none;
}

.ads-brand__image:hover {
    transform: scale(1.2);
}

/* Services */
.services {
    padding: 64px 0;
}

.services-wrap {
}

.services-head {
    padding-right: 73px;
}

/* services-title => section-title => Common */

.services-row__control {
    margin-top: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* services-heading => section-heading => Common */
.services-heading {
    max-width: 48.7%;
}

/* services-control => control => Common */

.services-body {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item {
    border-radius: 20px;
    background-color: var(--white-color);
    overflow: hidden;
    transition: all linear 0.15s;
}

.services-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item:hover .services-item__content {
    padding: 24px 18px;
}

.services-item__image {
    height: 318px;
    background-color: #e2eddf;
    overflow: hidden;
}

.services-item__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    opacity: 0.8;
    transition: all linear 0.15s;
}

.services-item:hover .services-item__img {
    opacity: 1;
    transform: scale(1.1);
}

.services-item__content {
    padding: 24px 0;
    transition: all linear 0.15s;
}

.services-item__heading {
}

.services-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: var(--text-color-4);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* About US */
.about {
    padding: 85px 0 79px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about-wrap__bg {
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background-color: #83a17d;
    filter: blur(200px);
    position: absolute;
    left: 107px;
    top: 114px;
    z-index: -1;
}

/* About media */
.about-media {
    width: 52%;
    position: relative;
}

.about-media__flying-star {
    position: absolute;
    top: 18px;
    left: 4px;
    z-index: 1;
    rotate: 15deg;
}

.about-media__images {
    display: flex;
    justify-content: space-between;
}

.about-media__image {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
    margin-top: 90px;
}

.about-media__image:nth-last-of-type(1) {
    width: 286px;
    filter: grayscale(100%) brightness(0.96);
    margin-top: 13px;
}

.about-media__info {
    min-width: 143px;
    padding: 19px 0 11px;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    right: -9px;
    bottom: 8px;
}

.about-media__info-heading,
.about-media__info-desc,
.about-media__number,
.about-media__info-loading {
    margin: 0 22px 0 23px;
}

.about-media__info-heading {
    display: block;
    color: var(--text-color-1);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-media__info-desc {
    display: block;
    margin-top: 6px;
    color: var(--text-color-3);
    font-family: "Public Sans";
    font-size: 1rem;
    line-height: 1.4;
}

.about-media__number {
    display: block;
    margin-top: 10px;
    padding-bottom: 5px;
    color: var(--text-color-1);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    position: relative;
}

.about-media__number::before {
    content: "";
    display: inline-block;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-media__number::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-media__info-loading {
    display: block;
    margin-top: 3px;
    color: var(--text-color-1);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.about-media_info-icon {
    margin: 0 19px;
    display: block;
    width: 11px;
    height: 11px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 3px solid #eaeaea;
    flex-shrink: 0;
}

.about-media__teams {
    width: 100%;
    margin-top: 4px;
    padding: 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-media__teams-label {
    color: var(--text-color-1);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-media__teams-avatar {
    display: flex;
}

.about-media__user-avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -6px;
}

/* About content */
.about-content {
    width: 42.5%;
}

.about-content__title {
}

.about-content__heading {
    margin-top: 20px;
}

.about-content__desc {
    margin-top: 11px;
    color: var(--text-color-4);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.about-content__row {
    margin-top: 36px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid #83a17d;
}

.about-content__row:nth-of-type(2) {
    margin-top: 38px;
}

.about-content__number {
    color: var(--text-color-1);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about-content__number-desc {
    max-width: 364px;
    color: var(--text-color-4);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}
