* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;
}

/* Common */
:root {
    --primary-color: #143c3c;
    --second-color: #e2eddf;
    --white-color: #fff;

    --text-color-1: #152427;
    --text-color-2: #143c3c;
    --text-color-3: #575d5e;
    --text-color-4: #7d8188;
    --text-color-5: #6a8383;
    --text-color-6: #e7f9f9;
    --text-white-color: #fff;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    border-radius: 999px;
    outline: none;
    font-family: "Public Sans";
    text-align: center;
    user-select: none;
    transition: all linear 0.15s;

    min-width: 173px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.heading-lv1 {
    color: var(--text-color-1);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.heading-lv2 {
    color: var(--text-color-1);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.heading-lv3 {
    color: var(--text-color-1);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

/* Header */
.header {
    background-color: var(--white-color);
    padding: 16px 0 0;
    position: sticky;
    top: -16px;
    z-index: 2;
}

.header-wrap {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 0;
}

.header-wrap::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    width: 146px;
    height: 26px;
}

.nav {
    display: flex;
    align-items: center;
    margin: 0 82px 0 auto;
}

.nav-item {
}

.nav-item + .nav-item {
    margin-left: 22px;
}

.nav-link {
    color: var(--text-color-3);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding: 4px 6px;
    user-select: none;
}

.nav-link__activate {
    color: var(--text-color-1);
    position: relative;
}

.nav-link__activate::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--text-color-1);
    position: absolute;
    left: 6px;
    bottom: -25px;
}

.nav-link:hover {
    color: var(--text-color-1);
}

.head-action-btn {
}

/* Hero */
.hero {
}

.hero-wrap {
    margin: 60px auto 87px;
    display: flex;
    align-items: center;
}

/* Hero content */
.hero-content {
    max-width: 34.5%;
    height: 466px;
}

.hero-content__heading {
    max-width: 368px;
}

.hero-content__desc {
    margin-top: 20px;
    color: var(--text-color-3);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero-content__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__action {
}

.hero-view-video {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-view-video__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    transition: all linear 0.15s;
}

.hero-view-video:hover .hero-view-video__btn {
    background-color: var(--primary-color);
}

.hero-view-video__icon-2 {
    position: absolute;
    left: -8px;
    color: var(--primary-color);
}

.hero-view-video__icon {
}

.hero-view-video__label {
    margin-left: 15px;
    color: var(--text-color-1);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
/* Hero Media */
.hero-media {
    max-width: 56.67%;

    position: relative;
    margin: 0 25px 0 auto;
}

/* Hero media Bg */
.hero-media__bg {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero-media__flying-star {
    position: absolute;
    top: -32px;
    left: -212px;
    z-index: 1;
}

.hero-media__flying-star:nth-of-type(2) {
    rotate: 180deg;
    top: 238px;
    left: 50px;
}

.hero-media__images {
    display: flex;
    column-gap: 20px;
}

.hero-media__image {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero-media__image:nth-child(2) {
    margin-top: 77px;
}

.test {
    width: 100%;
    height: 500px;
    background-color: orange;
}

/* Ads Brand */
.ads-brand {
    padding: 42px 0;
}

.ads-brand-wrap {
    padding: 78px 121px 72px;
    background-color: #e2eddf;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all linear 0.15s;
}

.ads-brand-wrap:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ads-brand__image {
    height: 33px;
    transition: all linear 0.15s;
    user-select: none;
}

.ads-brand__image:hover {
    transform: scale(1.2);
}
